@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1280px;
}

.page-container {
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  width: 1200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 0 0 15px 0 #00000033;
}

html {
  height: 100%;
}
.page-header {
  width: 1200px;
  background-color: #FFFFFF;
  margin: 0 auto;
  display: flex;

}
.header-navigation {
  margin: 0;
  display: flex;
  padding: 0;
  margin-right: 285px;
}

.logo-navigation {
  margin-left: 70px;
  margin-right: 28px;
  display: block;
  width: 138px;
  height: 64px;
}

.navigation-link {
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 20px 16px;
}
.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 339px;

}
.navigation-search {
  width: 44px;
}
.navigation-user-like {
  width: 44px;
}

.navigation-link-user .navigation-link {
  min-width: 100px;
  min-height: 64px;
}
.navigation-link-user {
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.navigation-user {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 88px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-active-link {
 text-decoration: underline;
 text-decoration-color:  #756257;
 text-underline-offset: 23px;
 text-decoration-thickness: 2px;
}
.header-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  background: #756157;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  padding: 8px 34px 8px 34px;
  margin: 14px 0;
  border-radius: 4px;
  width: 92px;
  height: 20px;
  margin-left: auto;
  margin-right: 70px;
  display: block;
}



.main-hero {
  background-image: url("../images/divider.svg"), url("../images/background-index.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: bottom, top;
  text-align: center;
  color: #82B3D3;
}

.advantages-description {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  width: 620px;
  margin: 0 auto;
  padding:  69px 50px 25px;
}

.advantages-reasons {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 651px;
  margin: 0 auto;
  padding-bottom: 69px;
}
.advantages-title-text {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
}
.advantages-item-p {
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}
.advantages-item {
  background: #82B3D3;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 1200px;
}
.advantages-composite-item {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.advantages-item-desc-light {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 385px;
}
.advantages-content {
  width: 230px;
  min-height: 181px;
  padding: 102px 85px;
}
.advantages-img {
  display: block;
  width: 800px;
  height: auto;
  object-fit: contain;
}
.advantages-item-desc {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 385px;
}


.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  padding: 112px 85px 62px 85px;
  margin: 0;
}
.advantages-items {
  text-align: center;
  color: #000000;
  padding: 0 85px 112px 85px;
  margin: 0;
}
.advantages-item-content {
  display: flex;
}
.advantages-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  }

.advantages-call {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin: 64px 347px 20px 347px;
}
.advantages-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 64px;
}
.features-list {
  margin:0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.features-item-desc {
  background: #83B3D31F;
  list-style-type: none;
  width: 400px;
  min-height: 385px;
}
.features-item-desc-light {
  background-color: #FFFFFF;
  list-style-type: none;
  width: 400px;
  min-height: 385px;
}
.features-subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 183px 85px 30px 85px;
}
.features-text {
  text-align: center;
  margin: 0;
  padding: 0 85px 81px 85px;
}



.main-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  flex-grow: 1;
}
.main-search {
  padding: 96px 304px 96px 304px;
}
.main-search-subtitle {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}
.main-img {
  width: 458px;
  height: 352px;
  padding: 51px 371px 82px 371px;
  display: block;
  margin: 0 auto;
}

.main-search-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.all {
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  padding: 96px 258px 104px 258px;
}
.button {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background: #82B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  width: 232px;
  height: 52px;
  border-width: 0;
  padding: 0;
}
.input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: #F2F2F2;
  color: #000000;
  border-radius: 4px 0 0 4px;
  padding: 0;
  width: 452px;
  height: 52px;
  border-width: 0;
  padding-left: 20px
}
.form-appointment {
  display: flex;
}
.main-all {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}
.search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background:#756157;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px 8px 50px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  width: 376px;
}
.main-all-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}
.page-footer {
  background: #FFFFFF;
  color: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 70px 30px 70px;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 41px 5px 0;
  padding: 0;

}
.social-link-vk {
  background-image: url("../images/social-vk.svg");
  background-repeat: no-repeat;
  background-position: 0%;
  color: #000000;
  text-decoration: none;
  width: 47px;
  height: 40px;
  display: block;
}
.social-link-telegram {
  background-image: url("../images/social-telegram.svg");
  background-repeat: no-repeat;
  background-position: 0%;
  color: #000000;
  text-decoration: none;
  width: 47px;
  height: 40px;
  display: block;
}
.social-link-youtube {
  background-image: url("../images/social-youtube.svg");
  background-repeat: no-repeat;
  background-position: 0%;
  color: #000000;
  text-decoration: none;
  width: 47px;
  height: 40px;
  display: block;
}
.inner-container {
  background-image: url("../images/background-catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #82B3D3;
}
.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}
.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #FFFFFF;
}
.breadcrumbs {
  list-style-type: none;
  display: flex;
}

.catalog-filter {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}
.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
}
.catalog-filter-list {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #FFFFFF;
  list-style-type: none;
}

.button-catalog {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 191px;
  height: 36px;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
  border-width: 0;
}
.button-reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  border-width: 0;
  width: 191px;
  height: 36px;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
}
.button-catalog-reset {
  display: block;
  width: 191px;
}


.button-light {
  color:#000000;
  text-decoration: none;
}

.inner-header-caption {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
.inner-caption-container {
  margin: 50px 70px 40px 70px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1060px;
  background-color: #FFFFFF;
}
.inner-container {
  margin: 0;
  padding: 0;

}
.select-control {
  line-height: 21px;
  color: #333333;
  width: 292px;
  height: 49px;
  border-radius: 4px;
  border-width: 2px;
  background-color: #FFFFFF;
  border-color: #E5E5E5;
  padding: 14px 0 14px 20px;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  grid-column: 1 / -1;
}
.button-favorite-active {
  color: #FFFFFF;
  background: #7DB54F;
  text-transform: uppercase;
  padding: 8px 0;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  border-width: 0;
  display: block;
}
.product-list {
  list-style-type: none;
  margin: 0;
  display: grid;
  padding: 0 70px 80px 70px;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
}
.product-card {
  padding: 20px 20px 20px 20px;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
}
.product-card-img {
  display: block;
  grid-column: 1 / -1;
}

.product-card-text {
  font-weight: 400;
  color: #333333;
  margin: 0;
}
.product-price {
  font-weight: 400;
  margin: 0;
  color: #333333;
  text-align: right;
}
.product-card-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background:#756157;
  border-width: 0;
  color: #FFFFFF;
  border-radius: 4px;
  padding-top: 8px;
  display: block;
}

.button-favorite {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #82B3D3;
  border-width: 0;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 8px 0;
  display: block;
  height: 36px;
}
.product-card-reyting {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  width: 95px;
  height: 20px;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  margin: 0;
}
.pagination {
  padding: 40px 70px;
  margin: 0;
}
.pagination-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}


.pagination-item-active {
  background-color: #F2F2F2;
  color: #000000;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  padding-top: 12px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  background: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
  width: 60px;
  border-radius: 4px;
  padding: 12px 12px 12px 12px;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
  width: 60px;
  height: 60px;
}
.pagination-btn {
  display: block;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  width: 60px;
  padding: 17px 0;
  margin-right: 8px;

}

.hotels-stars-4 {
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-position: 0%;
}
.hotels-stars-3 {
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-position: 0%;
}
.hotels-stars-2 {
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-position: 0%;
}


.all-catalog {
  margin: 0;
  padding: 96px 258px 104px 258px;
}

 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
